.advantages__title {
  margin: 0;
  padding-bottom: 26px;

  text-align: left;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.67;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__image-wrapper {
  margin-right: 20px;

  background-color: #68b738;
}

.advantages__item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 18px;

  &:last-child {
    margin-right: 0;
  }
}

.advantages__text {
  margin: 0;
  padding-top: 3px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
}

@media (min-width: $tablet-width) {
  .advantages__title {
    padding: 30px 0;

    font-size: 60px;
    line-height: 1;
  }

  .advantages__list {
    justify-content: space-between;
  }

  .advantages__item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(50% - 20px);
    margin-top: 37px;
    margin-bottom: 38px;
    padding: 0;
    padding-bottom: 30px;

    &::after {
      position: absolute;
      top: -50px;
      right: 95px;
      z-index: -1;

      font-weight: 400;
      font-size: 281px;
      line-height: 1;
      color: #f2f2f2;
    }

    &--fit::after {
      content: "1";
    }

    &--powder::after {
      content: "2";
    }

    &--economic::after {
      content: "3";
    }

    &--fast::after {
      content: "4";
    }
  }

  .advantages__image-wrapper {
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
  }

  .advantages__text {
    padding-right: 80px;

    font-size: 16px;
    line-height: 1.5;
  }

  .advantages__image {
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-bottom: 0;
  }

  .advantages__item {
    width: calc(25% - 10px);
    margin: 35px 0 0;

    &::after {
      right: 65px;
    }
  }
}
