.example {
  padding-top: 20px;
  background-color: #f2f2f2;
}

.example__wrapper {
  display: flex;
  flex-direction: column;
}

.example__title {
  margin: 0;
  padding: 20px 0;

  text-align: left;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.67;
}

.example__text {
  margin: 0;
  padding-top: 3px;
  padding-right: 14px;
  padding-bottom: 24px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.example__item {
  position: relative;

  width: calc(50% - 15px);
  padding: 15px 20px;

  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;

  border: 1px solid #cdcdcd;

  &:last-child {
    margin-right: 0;
  }

  &--low-weight::after {
    content: "снижение веса";

    position: absolute;
    left: 25%;
    bottom: -30%;

    width: 65px;

    text-align: center;
    color: #444444;
    font-family: "Arial", sans-serif;
    font-size: 10px;
    line-height: 1;
    background-color: #f2f2f2;
  }

  &--days-gone::after {
    content: "затрачено времени";

    position: absolute;
    left: 25%;
    bottom: -30%;

    width: 65px;

    text-align: center;
    color: #444444;
    font-family: "Arial", sans-serif;
    font-size: 10px;
    line-height: 1;
    background-color: #f2f2f2;
  }
}

.example__price {
  margin-top: 35px;
  margin-bottom: 20px;

  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35px;
}

.slider__list {
  position: relative;

  margin: 0;
  padding: 16px 0;

  list-style: none;
}

.slider__toggles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;

  cursor: pointer;
}

.slider__toggle {
  padding: 0 18px;

  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  border: none;
  outline: 0;
  background-color: transparent;

  cursor: pointer;
}

.slider__image--thin {
  display: none;
}

.slider__scale {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 84px;
  height: 14px;
  padding: 6px;

  font-size: 0;

  border: solid 1px #cdcdcd;
  border-radius: 6px;
  background-color: #ffffff;
}

.slider__green {
  display: block;
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 3px;
}

@media (min-width: $tablet-width) {
  .example {
    margin-top: 9px;
    padding-top: 12px;

    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
  }

  .example__title {
    padding: 30px 0;

    font-size: 60px;
    line-height: 1;
  }

  .example__text {
    margin-top: 30px;
    margin-bottom: 35px;
    padding-right: 20px;

    font-size: 16px;
    line-height: 1.5;
  }

  .example__item {
    font-size: 30px;
    line-height: 1.23;
  }

  .example__price {
    font-size: 20px;
    line-height: 1;
  }

  .example__inner-titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .slider__toggle {
    font-size: 20px;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding-top: 0;
    padding-bottom: 0;
  }

  .example__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .example__titeles {
    width: 420px;
  }

  .example__inner-titles {
    display: block;
  }

  .example__slider {
    margin: 0;
  }
}
