.stats {
  position: relative;
}

.stats__background {
  position: absolute;
  z-index: -1;

  width: 100%;
  min-height: 305px;
  top: 0;
  right: 0;

  background-color: #63a73a;
}

.stats__header {
  padding-bottom: 22px;
  text-align: center;
}

.stats__title {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 20px;

  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: #ffffff;
}

.stats__text {
  margin-top: 6px;
  margin-bottom: 24px;

  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
}

.stats__button {
  display: block;
  width: 100%;
  padding: 10px 20px;

  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.29;
}

.stats__image {
  margin-top: 5px;
  margin-bottom: 2px;
}

@media (min-width: $tablet-width) {
  .stats {
    background-color: #ffffff;
    background-image: none;
  }

  .stats__background-wrapper {
    display: none;
  }

  .stats__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0;
  }

  .stats__title {
    width: 420px;
    margin-left: 87px;

    font-size: 60px;
    text-align: left;
    color: #111111;
  }

  .stats__text {
    margin-top: 22px;
    margin-bottom: 30px;
    margin-left: 87px;

    font-size: 20px;
    text-align: left;
    color: #111111;
  }

  .stats__wrapper {
    order: 2;
  }

  .stats__image {
    width: 709px;
    height: 609px;
    margin-top: -79px;
  }

  .stats__button {
    z-index: 1;

    width: 245px;
    margin-top: 18px;
    margin-left: 88px;
    padding: 15px 25px;

    font-size: 20px;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .stats__image {
    width: 552px;
    height: 499px;
  }

  .stats {
    position: relative;
    padding-top: 194px;
  }

  .stats__title {
    margin-left: 81px;
  }

  .stats__text {
    margin-left: 81px;
  }

  .stats__button {
    margin-top: 23px;
    margin-left: 81px;
  }

  .stats__header {
    padding-bottom: 269px;
  }

  .stats__wrapper {
    position: absolute;
    bottom: 16.9%;
    right: 22.7%;
    z-index: 2;
  }

  .stats__background {
    position: absolute;
    z-index: 0;
    width: 50%;
    min-height: 697px;
    top: 0;
    right: 0;
    background-color: #63a73a;
  }

  .stats__background-wrapper {
    display: block;
  }
}
