.stats {
  color: #ffffff;

  background-color: #63a73a;
  background-image: url("../img/jpg/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

.stats__header {
  position: relative;
  padding-bottom: 20px;
  text-align: center;
}

.stats__title {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 20px;

  font-weight: 400;
  font-size: 36px;
  line-height: 1;
}

.stats__text {
  margin-top: 5px;
  margin-bottom: 25px;

  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
}

.stats__button {
  display: block;
  width: 100%;
  padding: 10px 20px;

  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.29;
}

@media (min-width: $tablet-width) {
  .stats {
    background-color: #ffffff;
    background-image: none;
  }

  .stats__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .stats__title {
    width: 420px; /*перевести в %*/
    margin-left: 90px;

    font-size: 60px;
    text-align: left;
    color: #111111;
  }

  .stats__text {
    margin-left: 90px;

    font-size: 20px;
    text-align: left;
    color: #111111;
  }

  .stats__wrapper {
    order: 2;
  }

  .stats__image {
    width: 709px;
    height: 609px;
    margin-left: 90px;
  }

  .stats__button {
    width: 245px;
    margin-left: 90px;
    padding: 15px 25px;

    font-size: 20px;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .stats__image {
    width: 552px;
    height: 499px;
  }
}
