.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.copyright__text {
  margin: 0;
  padding: 10px 0;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.copyright__link {
  width: 27px;
  height: 34px;

  font-size: 0;

  background-image: url("../img/svg/htmlacademy.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .page-footer__copyright {
    width: 160px;
    padding: 0;
  }
}
