.main-nav {
  position: relative;

  margin: 0 -20px;

  border-top: 1px solid #e6e6e6;
  outline: 0;
}

.main-nav--opened {
  display: block;
}

.main-nav--closed {
  display: none;
}

.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__item {
  border-bottom: 1px solid #e6e6e6;
}

.site-list__link {
  display: block;
  padding: 20px 0;
  margin: 0 20px;

  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1;
  color: #111111;
  text-decoration: none;

  &--current {
    pointer-events: none;
  }

  &:hover {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    margin: 0 -20px;
    border-top: none;
  }

  .main-nav--opened {
    display: block;
  }

  .main-nav--closed {
    display: block;
  }

  .site-list {
    display: flex;
    flex-wrap: wrap;
  }

  .site-list__item {
    border-bottom: none;
  }

  .site-list__link {
    &--current {
      border-bottom: 2px solid #68b738;
    }
  }
}
