.page-footer {
  background-color: #f2f2f2;
}

.page-footer__logo {
  display: block;
  width: 100%;
  padding-top: 41px;
  padding-bottom: 31px;

  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .page-footer__logo {
    width: 128px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding-top: 24px;
  }
}
