.page-header {
  position: relative;

  &--catalog {
    border-bottom: 1px solid #e6e6e6;
  }
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.page-header__icon {
  width: 191px;
  text-align: left;
}

.page-header__toggle {
  width: 25px;
  height: 19px;
  padding: 0;

  font-size: 0;

  border: 0;
  outline: 0;
  background-color: transparent;
  background-image: url("../img/svg/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .page-header {
    &--catalog {
      border-bottom: none;
    }
  }

  .page-header__icon-image {
    width: 174px;
    height: 59px;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__mobile-logo {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__icon-image {
    width: 203px;
    height: 60px;
  }

  .page-header__wrapper {
    padding-top: 52px;
  }
}
