.page-header {
  width: 320px;
  padding-top: 20px;
  padding-bottom: 16px;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  text-align: left;
}

.main-nav {
  position: relative;

  margin-left: auto;

  text-align: right;

  outline: 0;
}

.main-nav__toggle {
  width: 25px;
  height: 19px;
  margin-right: 19px;
  padding: 0;

  font-size: 0;

  border: 0;
  outline: 0;
  background-color: transparent;
  background-image: url("../img/svg/icon-mobile-menu.svg");
  background-repeat: no-repeat;
}

.main-nav__wrapper {
  /* display: none; */
}

.site-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__item {
  width: 100%;
  padding: 23px 0;

  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1;
}

.site-list__link {
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: $tablet-width;
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    margin-left: auto;
  }

  .site-list__item {
    width: auto;
    padding: 23px 0;

    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.39;
    color: #222222;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: $desktop-width;
  }
}
