.page-header {
  position: relative;

  &--catalog,
  &--form {
    border-bottom: 1px solid #e6e6e6;
  }
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}

.page-header__icon {
  width: 191px;
  text-align: left;
}

.page-header__toggle {
  width: 25px;
  height: 19px;
  padding: 0;

  font-size: 0;

  border: 0;
  outline: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;

  &--closed {
    background-image: url("../img/svg/icon-mobile-menu.svg");
  }

  &--no-js {
    background-image: url("../img/svg/icon-close.svg");
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    &--catalog,
    &--form {
      border-bottom: none;
    }
  }

  .page-header__icon-image {
    width: 174px;
    height: 59px;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 13px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__mobile-logo {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .page-header__icon-image {
    width: 203px;
    height: 60px;
  }

  .page-header__wrapper {
    padding-top: 40px;
  }
}
