.social {
  padding: 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 20px 0;

  list-style: none;

  font-size: 0;
}

.social__item {
  width: 22px;
  margin: 0 18px;
}

.social__logo {
  &--vkontakte {
    width: 22px;
    height: 12px;
  }

  &--instagram {
    width: 17px;
    height: 17px;
  }

  &--facebook {
    width: 10px;
    height: 19px;
  }
}

.social__link {
  display: block;
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
  }

  .social__item {
    width: 30px;
  }

  .social__logo {
    &--vkontakte {
      width: 30px;
      height: 16px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 14px;
      height: 28px;
    }
  }
}
