.extra {
  margin-bottom: 35px;
}

.extra__title {
  position: relative;

  margin-top: 29px;
  margin-bottom: 33px;

  text-align: left;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 58%;

    height: 2px;
    width: 5000px;

    background-color: #68b738;
  }

  &::before {
    right: calc(100% + 40px);
  }

  &::after {
    left: calc(100% + -32px);
  }
}

.extra__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.extra__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 17px;

  border-top: 1px solid #cdcdcd;

  &:last-child {
    margin-right: 0;

    border-bottom: 1px solid #cdcdcd;
  }
}

.item-adds__title {
  margin: 13px 0;

  text-align: left;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #222222;
}

.item-adds__table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.item-adds__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-adds__data {
  width: 50%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: normal;

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }
}

.surprise {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #63a73a;
  background-image: url("../img/optimized/catalog-opt/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.surprise__icon {
  width: 56px;
  height: 61px;
  margin: 63px auto;
}

.surprise__image {
  width: 100%;
}

.surprise__text {
  width: 159px;
  margin-top: 0;
  margin-bottom: 40px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .extra {
    margin-bottom: 76px;
  }

  .extra__title-wrapper {
    padding-left: 37px;
  }

  .extra__list {
    margin-bottom: 69px;
  }

  .extra__item {
    padding: 16px 36px 12px;

    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
  }

  .item-adds__table {
    width: calc(100% - 340px);
    margin: 0;
    padding-top: 10px;
    padding-bottom: 0;
  }

  .extra__title {
    margin-top: 61px;
    margin-bottom: 80px;

    font-size: 36px;
    line-height: 1;

    &::after {
      left: calc(100% + -297px);
    }
  }

  .item-adds__title {
    margin: 10px 0;

    font-size: 20px;
    line-height: 1;
  }

  .item-adds__data {
    text-align: right;
    font-size: 16px;
    line-height: 1.25;

    &--right {
      width: 95px;
    }
  }

  .item-adds__row {
    justify-content: flex-end;
  }

  .item-adds__button {
    margin: 15px 0;
  }

  .surprise {
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../img/optimized/catalog-opt/gift-photo-tablet@1x.jpg");
  }

  .surprise__icon {
    margin: 65px 0 75px 91px;
  }

  .surprise__text {
    width: 164px;
    margin: 0;
    padding-top: 7px;
    margin-right: 121px;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .extra {
    margin-bottom: 86px;
  }

  .extra__title {
    margin-top: 67px;

    &::after {
      left: calc(100% + -847px);
    }
  }

  .extra__title-wrapper {
    padding-left: 0;
  }

  .extra__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .extra__list {
    width: calc(100% - 325px);
    margin-bottom: 0;
  }

  .extra__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-bottom: 1px;


    border-right: none;
    border-left: none;
  }

  .item-adds__table {
    width: calc(33% - 7px);
  }

  .item-adds__title {
    width: calc(33% - 10px);
  }

  .item-adds__button {
    width: calc(33% - 51px);
  }

  .item-adds__row {
    justify-content: space-between;
  }

  .item-adds__data {
    text-align: left;

    &--right {
      width: 44px;
    }
  }

  .surprise {
    width: 245px;
    flex-direction: column;

    background-image: url("../img/optimized/catalog-opt/gift-photo-desktop@1x.jpg");
  }

  .surprise__icon {
    margin: 0 auto;
    margin-top: 65px;
  }

  .surprise__text {
    margin: 45px;
    margin-top: 0;

    text-align: center;
  }
}
