.extra__title {
  text-align: left;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
}

.extra__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.extra__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 15px;

  border-top: 1px solid #cdcdcd;

  &:last-child {
    margin-right: 0;

    border-bottom: 1px solid #cdcdcd;
  }
}

.item-adds__title {
  text-align: left;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #222222;
}

.item-adds__table {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.item-adds__row {
  display: flex;
  justify-content: space-between;
}

.item-adds__data {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: normal;

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }
}

.surprise {
  position: relative;
}

.surprise__icon {
  position: absolute;
  top: 65px;
  left: 113px;

  width: 56px;
  height: 61px;
}

.surprise__text {
  position: absolute;
  bottom: 43px;
  left: 60px;

  width: 159px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .extra__list {
    margin-bottom: 69px;
  }

  .extra__item {
    padding-left: 38px;
    padding-right: 38px;

    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
  }

  .item-adds__table {
    width: auto;
    margin: 0;
    padding: 10px 0;
  }
}

@media (min-width: $desktop-width) {
  .extra__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .extra__list {
    margin-bottom: 0;
  }

  .extra__item {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;

    border-right: none;
    border-left: none;
  }

  .catalog__item {
    width: calc(25% - 60px);
    margin-right: 60px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .item-adds__button {
    width: 245px;
  }
}
