.item-block__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item-block__inner {
  width: 50%;
}

.item-block__title {
  margin: 0;
  margin-top: 15px;
  width: 50%;
  padding-bottom: 10px;

  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-align: left;
}

.item-block__table {
  width: 100%;
}

.item-block__row {
  display: flex;
  justify-content: space-between;
}

.item-block__data {
  width: calc(50% - 10px);
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  font-weight: normal;

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }
}

.item-block__button,
.item-adds__button {
  display: block;
  width: 100%;
  padding: 10px 20px;

  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .item-block__wrapper {
    flex-direction: column;
  }

  .item-block__image {
    width: 100%;
  }

  .item-block__inner {
    width: 100%;
  }

  .item-block__title {
    margin: 0 auto;
    padding: 20px 0;

    text-align: center;
    font-size: 20px;
    line-height: 1;
  }

  .item-block__table {
    margin-bottom: 30px;
  }

  .item-block__row {
    padding: 10px 0;

    border-bottom: 1px solid rgba(205, 205, 205, 0.5);
  }

  .item-block__data {
    font-size: 16px;
    line-height: 1;
  }

  .item-block__image-wrapper {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 90px;
    padding-bottom: 30px;
  }
}
