.programm__title {
  margin: 0 auto;
  padding: 20px 0;

  text-align: left;
  font-size: 36px;
  line-height: 1.67;
  font-weight: 400;
}

.programm__text {
  margin: 15px 0;

  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.29;
  font-weight: 400;
}

.programm__list {
  text-align: left;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.13;
  font-weight: 400;
  color: #222222;
}

.programm__item {
  padding: 0;

  outline: 0;
  border: none;
}

.user-info__legend,
.comment__legend,
.add-some__legend {
  position: relative;

  display: block;
  padding: 30px 0;

  text-align: left;
  text-transform: none;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: #111111;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 50%;

    height: 2px;
    width: 5000px;

    background-color: #68b738;
  }

  &::before {
    right: calc(100% + 20px);
  }

  &::after {
    left: calc(100% + 20px);
  }
}

.cat-data {
  padding: 10px 0;
}

.cat-data__wrapper,
.goal__wrapper,
.user-info__wrapper,
.add-some__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cat-data__wrapper,
.goal__wrapper {
  &::after {
    content: "";

    display: block;
    height: 1px;
    width: calc(100% + 80px);
    margin-top: 20px;
    margin-left: -40px;
    margin-right: -40px;

    background-color: #e6e6e6;
  }
}

.cat-data__item {
  display: flex;
  align-items: center;
}

.cat-data__text {
  width: 100%;
  margin: 7px 0;

  &--name .cat-data__input {
    width: calc(100% - 41px);
  }

  &--weight .cat-data__input {
    width: calc(100% - 73px);
  }

  &--age .cat-data__input {
    width: calc(100% - 108px);
  }

  &:last-child {
    margin-right: 0;
  }
}

.cat-data__input,
.user-info__input {
  display: inline-block;
  height: 45px;
  padding: 13px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  outline: 0;

  &::placeholder {
    text-align: left;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.13;
    font-weight: 400;
    color: #444444;
  }
}

.cat-data__item:hover > .cat-data__input,
.user-info__item:hover > .user-info__input {
  border: 1px solid rgb(205, 205, 205);
}

.cat-data__item:active > .cat-data__input,
.user-info__item:active > .user-info__input {
  padding: 12px;

  border: solid 2px #444444;
}

.goal {
  width: 100%;
  padding: 10px 0;
}

.goal__item {
  width: 100%;
  margin: 13px 0;

  &:last-child {
    margin-right: 0;
  }
}

.goal__label {
  display: flex;
  align-items: center;

  &::before {
    content: "";

    display: block;
    width: 30px;
    height: 30px;
    margin-right: 20px;

    border: solid 1px #cdcdcd;
    border-radius: 50%;
  }
}

.add-some__label {
  display: flex;
  align-items: center;

  &::before {
    content: "";

    display: block;
    width: 30px;
    height: 30px;
    margin-right: 20px;

    border: solid 1px #cdcdcd;
  }
}

.goal__label:hover::before,
.add-some__label:hover::before {
  border: solid 1px #bababa;
}

.goal__label:active,
.add-some__label:active {
  opacity: 0.3;
}

.goal__input:checked + .goal__label::before,
.goal__label:active::before {
  background-image: radial-gradient(#68b738 0, #68b738 6px, #ffffff 7px, #ffffff 100%);
}

.add-some__input:checked + .add-some__label::before,
.add-some__label:active::before {
  background-image: url("../img/svg/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px;
}

.user-info__item {
  display: flex;
  align-items: center;
}

.user-info__label,
.cat-data__label {
  margin-right: 15px;
}

.user-info__input {
  padding-right: 50px;
}

.user-info__input-wrapper {
  position: relative;
}

.user-info__icon {
  position: absolute;
  top: 50%;
  right: 20px;

  display: block;
}

.user-info__text {
  width: 100%;
  margin: 7px 0;

  &--email .user-info__input {
    width: calc(100% - 65px);
  }

  &--tel .user-info__input {
    width: calc(100% - 80px);
  }

  &:last-child {
    margin-right: 0;
  }
}

.comment__text {
  margin: 15px 0;
}

.comment__textarea {
  padding: 0;
  width: 100%;
  height: 150px;
  resize: none;

  &::placeholder {
    padding-left: 10px;
    padding-top: 10px;

    text-align: left;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.13;
    font-weight: 400;
    color: #444444;
  }
}

.add-some__item {
  width: 100%;
  margin: 5px 0;

  &:last-child {
    margin-right: 0;
  }
}

.programm__bottom {
  padding-top: 20px;
  padding-bottom: 10px;
}

.programm__button-submit {
  display: block;
  width: 100%;
  padding: 10px 20px;

  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
}

.programm__legend {
  display: block;
  margin: 20px 0;

  font-family: "Arial", sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  font-weight: normal;
  color: #444444;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .programm__list {
    font-size: 20px;
    line-height: 1;
  }

  .programm__title {
    font-size: 60px;
    line-height: 1;
  }

  .programm__text {
    padding-left: 40px;
    padding-right: 40px;

    font-size: 20px;
    line-height: 1.5;
  }

  .programm__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .cat-data__text {
    padding: 0 40px;

    &--name .cat-data__input {
      width: calc(100% - 45px);
    }

    &--weight .cat-data__input {
      width: calc(100% - 90px);
    }

    &--age .cat-data__input {
      width: calc(100% - 135px);
    }
  }

  .user-info__text {
    &--email .user-info__input {
      width: calc(100% - 85px);
    }

    &--tel .user-info__input {
      width: calc(100% - 100px);
    }
  }

  .goal__label {
    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .goal__input:checked + .goal__label::before,
  .goal__label:active::before {
    background-image: radial-gradient(#68b738 0, #68b738 9px, #ffffff 10px, #ffffff 100%);
  }

  .add-some__label {
    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .goal {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 40px;

    border: 1px solid #cdcdcd;
  }

  .user-info__legend,
  .comment__legend,
  .add-some__legend {
    padding-left: 40px;
    padding-right: 40px;

    font-size: 36px;
  }

  .user-info__wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }

  .comment__text {
    padding-left: 40px;
    padding-right: 40px;
  }

  .comment__textarea {
    width: 631px;
    height: 174px;
  }

  .add-some__item {
    width: calc(50% - 40px);
  }

  .add-some__wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }

  .programm__bottom {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
  }

  .programm__button-submit {
    width: 283px;

    font-size: 20px;
    line-height: 1;
  }

  .cat-data__wrapper,
  .goal__wrapper {
    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .programm {
    padding-top: 128px;
  }

  .programm__top {
    flex-wrap: nowrap;
    align-items: center;
  }

  .cat-data,
  .goal {
    width: calc(50% - 40px);
    margin: 0;
  }

  .cat-data__text {
    padding-left: 0;
    padding-right: 0;
  }

  .user-info__text {
    width: calc(50% - 40px);
  }

  .add-some__item {
    width: calc(25% - 60px);
  }

  .comment__textarea {
    width: 1220px;
  }

  .programm__button-submit {
    width: 568px;
    margin-right: 82px;
  }

  .programm__text {
    padding-left: 0;
    padding-right: 0;
  }

  .user-info__legend,
  .comment__legend,
  .add-some__legend {
    padding-left: 0;
    padding-right: 0;
  }

  .user-info__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .comment__text {
    padding-left: 0;
    padding-right: 0;
  }

  .add-some__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .programm__bottom {
    padding-left: 0;
    padding-right: 0;
  }
}
