html {
  box-sizing: border-box;

  font-family: sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  line-height: 1.13;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;

  background-color: #ffffff;
}

.h-container {
  width: 320px;
  margin: 0 auto;
}

$tablet-width: 768px;
$desktop-width: 1440px; /* Поменять до 1440px */

.container {
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .h-container {
    width: $tablet-width;
  }

  .container {
    margin: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .h-container {
    width: $desktop-width;
  }

  .container {
    margin: 0 110px;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;
  clip: rect(0 0 0 0);

  border: 0;
}

.button {
  color: #ffffff;

  background-color: #68b738;
  outline: 0;
  border: none;
}

@import "base/normalize.scss";
@import "base/fonts.scss";
@import "blocks/page-header.scss";
@import "blocks/index/stats.scss";
@import "blocks/index/categories.scss";
@import "blocks/index/advantages.scss";
@import "blocks/index/example.scss";
@import "blocks/catalog/catalog.scss";
@import "blocks/catalog/extra.scss";
@import "blocks/forms/programm.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
